*{
    margin: 0;
    padding: 0;
}
.html{
    height: 100%;
}
.body{
    background-color: rgb(205, 161, 246);
    font-family: 'Didact Gothic', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo{
    width: 13rem;
    padding: 15px;
}

.titulo{
    text-align: center;
}
.header{
    background-color: #d3bcf6;
    align-items: center;
}
/* main */
.main{
    padding: 20px;
}

.datos{
    border: 2px solid white;
    text-align: center;
    font-size: 23px;
    padding: 2px;
    margin: auto;
}
/* botones */
.boton{
    width: fit-content;
    border: solid 3px violet;
    border-radius: 10px;
    padding: 5px;
    margin: 50px auto;
}
.botones{
    padding: 5px;
    text-align: center;
}
.sticker{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* carrito */
.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.carrito p{
    font-size: 17px;
    font-weight: bold;
}

.ffff{
    width: 50%; 
    height: auto;
    border: solid 3px white;
    margin: 2px;
}
/* footer */
.footer{
    margin-top: auto;
}
.footer__misredes{
    background-color: #d3bcf6;
    display: flex;
    justify-content: center;
}
.bi{
    color: black;
    margin: 10px;
}